nav {
    background-color: #13a7a7;
}


.wlc1 {
    position: absolute;
    left: 580px;
    top: 180px;
    color: rgb(134, 56, 95);
}
.wlc2 {
    position: absolute;
    left: 470px;
    top: 300px;
    color: rgb(134, 56, 95);
}
.navbar-brand {
    color: #312e1c;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #696341;
}

.btn {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 490px;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login-btn {
    background-color: #d3c884;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    padding: 5px 15px;
    cursor: pointer;
    position: absolute;
    left: 200px;
}
.logout-btn {
    background-color: #8b1c70;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    padding: 5px 15px;
    cursor: pointer;
    position: absolute;
    left: 200px;
}
.login-btn:hover {
    background-color: #928a64;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width:768px){
  
    .wlc1 {

        left: auto;

    }
    .wlc2 {

        left: auto;

    }

    
    .btn {
        left: auto;
        margin-left: auto;
    }
    

    
    .login-btn {

        font-size: 14px;
        border-radius: 7px;
        padding: 2px 10px;
    }
    
    .logout-btn {
        font-size: 14px;
        border-radius: 7px;
        padding: 2px 10px;
    }
    
}